.upcomingEvent__image {
    width: 100%;
    height: auto;
}

.upcomingEvent__titleContainer {
    background-color: rgba(43, 45, 66, .7);
    bottom: 0;
    width: 70%;
    left: 15%;
    transition: all .3s ease-in-out;
}

.upcomingEvent__titleContainer:hover {
    background-color: rgba(43, 45, 66, .9);
}

@media screen and (max-width: 767px) {
    .upcomingEvent__image {
        min-height: 300px;
        object-position: center !important;
        object-fit: cover !important;
    }
    
    .upcomingEvent__titleContainer {
        width: 100%;
        left: 0;
    }
}