.article {
    width: 33%;
    border: 2px solid #d3d3d3;
}

.article__image {
    height: 200px;
    width: 100%;
    object-position: center !important;
    object-fit: cover !important;
}

.card {
    padding: 0 !important;
    position: relative;
}

.article__details {
    border-top: 2px solid #d3d3d3;
}

.article__text, .article__title {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;

}

.article__title {
    height: 60px;
    -webkit-line-clamp: 2;
}

.article__text *:not(:first-child) {
    display: none;
}

.article__text {
    -webkit-line-clamp: 3;
}

@media screen and (max-width: 1023px) {
    .article {
        width: 100%;
    }
    
}