.testimonial {
    background-color: #4E3D42;
    border-radius: 20px;
}

.testimonial__header {
    border-bottom: 1px solid #fff;
}

.testimonial__imageContainer {
    margin: 0 auto -20px;
    width: fit-content;
}

.testimonial__image {
    width: 80px !important;
    height: 80px !important;
    object-position: center !important;
    object-fit: cover !important;
    border-radius: 100%;
}

.quote {
    font-size: 32px;
    background-color: #fff;
    color: #4E3D42;
    width: fit-content;
    width: 30px;
    height: 30px;
}

.testimonial__details {
    font-size: 18px;
    height: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}