.headerImage {
    background-image: url('../../images/header_image/header.webp');
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    overflow: hidden;
}

.headerImage__watermark {
    font-size: 20rem;
    color: rgba(255, 255, 255, .3);
    left: 20%;
    bottom: -10%;
}

.headerImage__rect {
    width: 200px;
    top: 0;
    left: 10%;
    background-color: rgba(255, 255, 255, .3);
}

.headerImage__filter {
    background-color: rgba(43, 42, 42, .8);
    /* background: #0F2027;
    background: -webkit-linear-gradient(to bottom left, rgba(44, 83, 100, .8), rgba(32, 58, 67, .85), rgba(15, 32, 39, .9));
    background: linear-gradient(to bottom left, rgba(44, 83, 100, .8), rgba(32, 58, 67, .85), rgba(15, 32, 39, .9)); */
    /* background-image: linear-gradient(to right top, rgba(43, 45, 66, .95), rgba(48, 58, 84, .95), rgba(50, 72, 102, .95), rgba(50, 87, 119, .9), rgba(46, 103, 136, .9), rgba(51, 117, 149, .9), rgba(57, 132, 162, .85), rgba(64, 147, 175, .85), rgba(84, 165, 188, .85), rgba(104, 183, 202, .8), rgba(125, 201, 215, .8), rgba(146, 220, 229, .8)); */
    /* background-image: linear-gradient(to right top, rgba(43, 45, 66, .95), rgba(49, 63, 90, .9), rgba(50, 82, 113, .9), rgba(46, 103, 136, .85), rgba(34, 124, 157, .85)); */
    min-height: 100%;
}

.headerImage__container {
    display: table;
    min-height: calc(100vh - 54.5px);
}

.headerImage__headingList {
    display: table-cell !important;
    vertical-align: middle;
}

.headerImage__mainHeader {
    border-left: 5px solid #FFAD08;
}

@media screen and (max-width: 767px) {
    .headerImage {
        min-height: 600px;
        height: auto;
    }

    .headerImage__container {
        min-height: calc(600px -54.5px);
    }
}