.orange-btn, .green-btn, .red-btn {
    border-radius: 5px;
    background-position: center;
    transition: background 0.8s;
}

.large-btn {
    font-size: 20px;
}

.green-btn {
    background-color: #228b22;
}

.red-btn {
    background-color: #c40808;
}

.orange-btn {
    background-color: #FFAD08;
}

.orange-btn:hover, .orange-btn:focus {
    background: #FFAD08 radial-gradient(circle, transparent 1%, #FFAD08 1%) center/15000%;
}

.orange-btn:active {
    background-color: #f0d803 !important;
    background-size: 100%;
    transition: background 0s;
}