.forgotPassword__submit {
    border-radius: 50px;
    background-color: #FFAD08;
    background-position: center;
    transition: background 0.8s;
}

.forgotPassword__submit:hover, .forgotPassword__submit:focus {
    background: #FFAD08 radial-gradient(circle, transparent 1%, #FFAD08 1%) center/15000%;
}

.forgotPassword__submit:active {
    background-color: #f0d803 !important;
    background-size: 100%;
    transition: background 0s;
}