.person__header {
    height: 250px;
}

.person__image {
    height: 100%;
    object-position: center !important;
    object-fit: cover !important;
    transition: 0.3s all;
    -webkit-transition: 0.3s all;
    -moz-transition: 0.3s all;
    -o-transition: 0.3s all;
}

.person__image:hover {
    transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -o-transform: scale(1.05);
}

.person__image:hover + .person__media, .person__media:hover {
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    bottom: 0;
}

.person__media {
    background-color: rgba(1,4,6,0.45);
    transition: 0.3s all;
    -webkit-transition: 0.3s all;
    -moz-transition: 0.3s all;
    -o-transition: 0.3s all;
    transform: scale(2);
    -webkit-transform: scale(2);
    -moz-transform: scale(2);
    -o-transform: scale(2);
    bottom: -100%;
}

.person__media svg {
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

.person__details {
    background-color: #FFAD08;
    height: 100px !important;
}